<div class="col-6 mx-auto">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row">
      <div class="col-md mt-1">
        <label for="username" class="form-label">Username</label>
        <input
          formControlName="username"
          [class.is-invalid]="usernameField.invalid && (usernameField.dirty || usernameField.touched)"
          class="form-control"
          id="username"
        />
      </div>
      <div class="col-md mt-1">
        <label for="password" class="form-label">Password</label>
        <input
          formControlName="password"
          [class.is-invalid]="passwordField.invalid && (passwordField.dirty || passwordField.touched)"
          type="password"
          class="form-control"
          id="password"
        />
      </div>
    </div>
    <div class="row mt-3 justify-content-end">
      <button [disabled]="form.invalid" type="submit" class="btn btn-dark col-md-auto">Submit</button>
    </div>
  </form>
  <div *ngIf="f.submitted && authMessage" class="row mt-3">
    <div class="alert alert-danger mt-3" *ngIf="!authMessage.success">Wrong username or password.</div>
    <div class="alert alert-success mt-3" *ngIf="authMessage.success">
      <span>Successfully logged in!</span><br />
      <span *ngIf="redirectElapsedTime !== undefined"
        >Redirecting in {{ redirectWaitTime - redirectElapsedTime - 1 }} ...</span
      >
    </div>
  </div>
</div>
